main {
    background-color: black;
    color: cyan;
    font-weight: bolder;
    text-shadow:     
    0 0 5px  royalblue,   /* White glow */
    0 0 10px royalblue, /* Pink glow */
    0 0 15px royalblue, /* Pink glow */
    0 0 20px royalblue; /* Pink glow */
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header {
    background-color: darkblue;
    padding: 70px;
}

nav a {
    color: yellow;
    text-decoration: none;
    font-size: 1.7em;
    padding: 70px;
    font-weight: bold;
    text-shadow: 
    0 0 5px greenyellow,   /* White glow */
    0 0 10px greenyellow, /* Pink glow */
    0 0 15px greenyellow, /* Pink glow */
    0 0 20px greenyellow; /* Pink glow */
}

nav a:hover {
    color: white;
    background-color: aquamarine;
    text-shadow: 
    0 0 5px  magenta,   /* White glow */
    0 0 10px magenta, /* Pink glow */
    0 0 15px magenta, /* Pink glow */
    0 0 20px magenta; /* Pink glow */
}

h1 {
    margin: 50px 0;
    padding: 17px;
    background-color: darks;
    color: greenyellow;
    text-align: center;
    text-shadow: 
    0 0 5px  yellow,   /* White glow */
    0 0 10px yellow, /* Pink glow */
    0 0 15px yellow, /* Pink glow */
    0 0 20px yellow; /* Pink glow */
}

#h1 {
    color: white;
}

footer {
    color: royalblue;
    text-shadow:     
    0 0 5px  cyan,   /* White glow */
    0 0 10px cyan, /* Pink glow */
    0 0 15px cyan, /* Pink glow */
    0 0 20px cyan; /* Pink glow */
    font-weight: bolder;
    background-color: blueviolet;
    font-weight: bolder;
}

footer a {
    padding: 25px;
}

img{
    max-width: 1000px;
    border: 7px solid goldenrod;
    display: block;
    margin: 0 auto;
}

body{
    background-color:  black;
}

